<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main3.css') }}" />

</head>
<body>
<h2>Thanks for taking the time to help us out!</h2>
<p>Here's one last question</p>

   <form method="post" class="grid-item3">
       <br><br>How confident are you in understanding this environment?</br> By saying confident, it
           means you are confident that there should be a route by which the agent will reach its target
           as soon as possible.</p>
    </br>Not sure &nbsp;&nbsp;&nbsp;
    <input type="radio" name="options2" id="0" value="0"> 0 &nbsp;&nbsp;&nbsp;</input>
    <input type="radio" name="options2" id="1" value="1"> 1  &nbsp;&nbsp;&nbsp;</input>
    <input type="radio" name="options2" id="2" value="2"> 2  &nbsp;&nbsp;&nbsp;</input>
    <input type="radio" name="options2" id="3" value="3"> 3  &nbsp;&nbsp;&nbsp;</input>
    Certain<br><br>
    <input type="submit" value="Finish" name="options2" >
   </form>
</body>
</html>
