<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main3.css') }}" />

</head>
<body>
<form method="POST" class="ag">
    You can do {{ times }} more tests. Would you like to do another?<br>
            {% if times > 0 %}
            <input type="submit" name="a" value="Again">
            {% endif %}
            <input type="submit" name="a" value="Done">
</form>
</body>
</html>
